<template>
    <div class="container">
        <h3><b>The Student Hotel The Hague</b></h3>
        <br>  
        <div id="myCarousel" class="carousel slide" data-slide="false">
 
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                Welcome! Let's book a room you'll love.
                            <br>
                                Please provide us with the information started below, we will handle the data with care.
                            </p>
                            <hr>
                            <div class="row">
                                <InformationStep from 
                                <div class="col-md-2" style="padding-top: 3%;">
                                    <label class="radio-inline"><input type="radio" name="optradio">Mr</label>
                                    <label class="radio-inline"><input type="radio" name="optradio">Mrs</label>
                                </div>
                                <div class="form-group col-md-5">
                                    First name:
                                    <input type="text" class="form-control" placeholder="Enter first name">
                                </div>
                                <div class="form-group col-md-5">
                                    Last name:
                                    <input type="text" class="form-control" placeholder="Enter last name">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    Departure Date
                                    <input type="date" class="form-control" placeholder="dd-mm-jjjj">
                                </div>
                                <div class="col-md-4">
                                    Return Date
                                    <input type="date" class="form-control" placeholder="dd-mm-jjjj">
                                </div>
                                <div class="col-md-4">
                                    Rooms
                                    <select class="form-control">
                                        <option>1 Room</option>
                                        <option>2 Room</option>
                                        <option>3 Room</option>
                                        <option>4 Room</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="pull-right">
                                <a href="#">Cancel &nbsp;&nbsp;</a><a href="#myCarousel" data-slide="next"><button type="button" class="btn btn-danger">Pick a room <b>&gt;</b></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
 
                <div class="item">
                    <div class="panel panel-defualt">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4" style="background-color: white;">
                                    <img src="../assets/hotel2.jpg" style="width: 360px; height: auto;">
                                </div>
                                <div class="col-md-8">
                                    <p><b style="font-size: 18px;">The student Hotel The Hague</b>
                                    <span class="fa fa-star pull-right"></span>
                                    <span class="fa fa-star pull-right"></span>
                                    <span class="fa fa-star pull-right"></span></p>
                                    <p><span class="fa fa-compass" style="font-size: 21px;"></span> Hoedkage 9 The Hague</p>
                                    <p><i>With the lounge/bar as one of the top facilities. Order a drink and enjoy your stay!</i></p>
 
                                    <div class="glyphicon-ring pull-left"><span class="fa fa-coffee"></span></div>
                                    <div class="glyphicon-ring pull-left"><span class="glyphicon glyphicon-cutlery"></span></div>
                                    <div class="glyphicon-ring pull-left"><span class="fa fa-wifi"></span></div>
                                    <div class="glyphicon-ring pull-left"><span class="fa fa-book"></span></div>
                                    <br>
                                    <br>
                                    <br>
                                    <p><b>Let's book a room!</b></p>
                                    <p>Hotel rooms starting at €79,- per night.</p>
                                    <br>
                                    <div class="pull-right">
                                        <a href="#">Cancel &nbsp;&nbsp;</a><a href="#myCarousel" data-slide="next"><button type="button" class="btn btn-danger">Reservation setup <b>&gt;</b></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 
           
                <div class="item">
                    <div class="panel panel-defualt">
                        <div class="panel-body">
                            <p>
                                <b>Almost done!</b>
                                <br>
                                We are almost there. Make sure to review this review and modify wherever needed.
                            </p>
                            <hr>
                            <div class="row">
                                <div class="col-md-6 list-unstyled">
                                    <li>
                                        <b>Booker info</b>
                                    </li>
                                    <li>
                                        Name: mr.Dan Nieuwmans
                                    </li>
                                    <li>
                                        Departure: "2018-04-12T00:00,oooz"
                                    </li>
                                    <li>
                                        Leave: "2018-04-14T00:00,oooz"
                                    </li>
                                    <li>
                                        Leave: "2018-04-14T00:00,oooz"
                                    </li>
                                    <br>
                                    <li>
                                        <b>Hotel info</b>
                                    </li>
                                    <li>
                                        Booked Hotel: The Student Hotel The Hague
                                    </li>
                                    <li>
                                        Rooms: 2 rooms
                                    </li>
                                </div>
                                <div class="col-md-6 list-unstyled">
                                    <li>
                                        <b>Rooms</b>
                                    </li>
                                    <li>
                                        Room 1:
                                    </li>
                                    <li>
                                        Executive Room €79,- per night.
                                    </li>
                                    <li>
                                        Room 2:
                                    </li>
                                    <li>
                                        Suite €98,- per night.
                                    </li>
                                </div>
                            </div>
                            <hr>
                            <br>
                            <div class="row">
                                <div class="col-md-12 list-unstyled">
                                    <li>
                                        <b>Price Total</b>
                                    </li>
                                    <li>
                                        Per night: €178,-
                                    </li>
                                    <li>
                                        Total: €356,-
                                    </li>
                                </div>
                            </div>
                            <hr>
                            <div class="pull-right">
                                <a href="#">Cancel &nbsp;&nbsp;</a><a href="#myCarousel" data-slide="next"><button type="button" class="btn btn-danger">Reservation setup <b>&gt;</b></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    import axios from 'axios';
    import Hotel from '@/models/Hotel';
    import InformationStep from '@/components/InformationStep.vue'
    import RoomStep from '@/components/RoomStep.vue'
    import OverviewStep from '@/components/OverviewStep.vue'
 
    export default {
        name: 'Booking',
        components: {
            OverviewStep,
            RoomStep,
            InformationStep
        },
        data() {
            return {
                currentPage: 1,
                data: {
                    firstName: '',
                    lastName: '',
                    totalRooms: '',
                },
            }
        },

        mounted() {
            const hotelId = parseInt(this.$route.params.id, 10);
 
            console.log(this.$route.params);
           
            axios.get('data/hotels.json').then((response) => {
                let hotel = response.data.find((item) => item.id === hotelId);
                this.hotel = Hotel.fromJSON(hotel);
 
                console.log(this.hotel);
 
                setTimeout(() => {
                    this.loading = false;
                }, 1000)
            });    
        }
    }
</script>

                <style>

                    * {
                        margin: 0;
                        padding: 0;
                    }

                    .step {
                        width: 50rem;
                        margin: 5 rem auto;
                        display: flex;
                    }

                    .step_item {
                        flex-basis: 0;
                        flex-grow: 1;
                        padding: 0.5rem 1rem;
                        display: flex;
                    }

                    .step_item i {
                        width: 3rem;
                        height: 3rem;
                        background: #bababa;
                        border-radius: 9999px;
                        flex-shrink: 0;
                        margin-right: 1rem;
                        line-height: 3rem;
                        text-align: center;
                        font-size: 2rem;
                    }

                    .step_item span {
                        line-height: 3rem; 
                    }

                    </style>
