<template>
	<div>
<!-- 	<input type="text" v-model ="searchString"></input><br>	
	<hotel-item v-for="(hotel, key) in filteredHotels" :key="key" :hotel="hotel"></hotel-item> -->
			<div id="content-container">

			<!-- Begin Header -->
<!-- 			<nav class="navbar navbar-default">
				<div class="container-fluid">

					<div class="navbar-header">
						<a class="navbar-brand" href="Index.html"> <i class="fa fa-building-o" style="font-size:19px; color:red"> </i><b> Hotel</b> Booking</a> 
					</div>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="Index.html">Home</a></li>
						<li><a href="ExploreHotels.html"><div class="border-link">Explore Hotels</div></a></li>
						<li><a href="ContactUs.html">Contact Us</a></li>
					</ul>
				</div>
			</nav> -->
			<!-- End Header -->

			<!-- Begin Container -->
			<div class="container">
				<h4><b>Explore Our Hotels</b></h4>
				<p><b style="color: red;">Find the hotel that suits you best!</b><p>
				<br>

				<div class="panel panel-defualt">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4" style="background-color: white;">
								<img src="../assets/hotel2.jpg" style="width: 360px; height: auto;">
							</div>
							<div class="col-md-8">
								<p><b style="font-size: 18px;">The student Hotel The Hague</b>
								<span class="fa fa-star pull-right"></span>
								<span class="fa fa-star pull-right"></span>
								<span class="fa fa-star pull-right"></span>
								</p>
								<p><span class="fa fa-compass" style="font-size: 21px;"></span> Hoefkade 9 The Hague</p>
								<p><i>With the lounge/bar as one of the top facilities. Order a drink and enjoy your stay!</i></p>

								<div class="glyphicon-ring pull-left"><span class="fa fa-coffee"></span></div>
								<div class="glyphicon-ring pull-left"><span class="glyphicon glyphicon-cutlery"></span></div>
								<div class="glyphicon-ring pull-left"><span class="fa fa-wifi"></span></div>
								<div class="glyphicon-ring pull-left"><span class="fa fa-book"></span></div>
								<br>
								<br>
								<br>
								<p><b>Let's book a room!</b></p>
								<p>Hotel rooms starting at €79,- per night.</p>
								<br>
								<router-link to="/Booking" tag="button" class="btn btn-danger">Booking</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Container -->
		</div>
		<!-- End content-contrainer -->

		<!-- Begin Footer -->
		<div id="footer">
			<div class="container text-left">
        		<div class="row">

	            	<!--First column-->
	            	<div class="col-md-4">
	                	<h6 class="mb-4 mt-3 font-weight-bold"><a href="Index.html"><i class="fa fa-building-o" style="font-size:14px;"><b> Hotel</b> Booking</i></a></h6>
	                	<ul class="list-unstyled">
	                    	<li>
	                        	Niewmansstraat 123
	                    	</li>
		                    <li>
		                        1234 AB The Hague
		                    </li>
		                    <li>
		                        The Netherlands
		                    </li>
		                    <li>
		                    	<br>
		                        &copy; 2018 Hotel Booking
		                    </li>
		                </ul>
	            	</div>
	           		<!--/.First column-->
				
					<b>
	            	<!--Second column-->
		            <div class="col-md-4">
		                <h5 class="mb-4 mt-3 font-weight-bold"><b>Useful links</b></h5>
		                <ul class="list-unstyled">
		                    <li>
		                        <a href="ExploreHotels.html">Explore hotels</a>
		                    </li>
		                    <li>
		                        <a href="#!">Reviews</a>
		                    </li>
		                    <li>
		                        <a href="#!">A link</a>
		                    </li>
		                    <li>
		                        <a href="#!">Another link</a>
		                    </li>
		                    <li>
		                        <a href="#!">Different link</a>
		                    </li>
		                </ul>
		            </div>
	            	<!--/.Second column-->

		            <!--Third column-->
		            <div class="col-md-4">
		                <h5 class="mb-4 mt-3 font-weight-bold"><b>The Company</b></h5>
		                <ul class="list-unstyled">
		                    <li>
		                        <a href="#!">About</a>
		                    </li>
		                    <li>
		                        <a href="#!">Careers</a>
		                    </li>
		                    <li>
		                        <a href="#!">Press centre</a>
		                    </li>
		                    <li>
		                        <a href="#!">Terms & Conditions</a>
		                    </li>
		                    <li>
		                        <a href="ContactUs.html">Contact us</a>
		                    </li>
		                </ul>
		            </div>
		            <!--/.Third column-->
	        		</b>

	        	</div>
	        </div>
	    </div>
	</div>

</template>

<script>
	import HotelItem from "@/components/HotelItem.vue";
	import Hotel from "@/models/Hotel"; 
	import axios from 'axios'; 
				
export default {
	name: 'Explore',
	components: {
		HotelItem
		},
	
	data() {
		return {
			searchString: '',
			hotels: [],
			loading: true, 
		};
	},

	computed: {
		filteredHotels() {
			return this.hotels.filter((hotel) => {
				return hotel.name.toLowerCase().includes(this.searchString.trim().toLowerCase());	 
			});
		},
	},
		
	
	mounted() {
		axios.get('data/data.json').then((response) => {
			this.hotels = response.data.map(Hotel.fromJSON);
		}).catch((err) => {
			console.log(err);
		});
		
	},
}; 

</script>