<template>
  <div class="home">
    <div id="content-container">

				<!-- Begin Header -->
<!-- 				<nav class="navbar navbar-default">
					<div class="container-fluid">

						<div class="navbar-header">
							<a class="navbar-brand" href="Index.html"><i class="fa fa-building-o" style="font-size:19px; color:red"> </i><b> Hotel</b> Booking</a> 
						</div>

						<ul class="nav navbar-nav navbar-right">
							<li><a href="Index.html"><div class="border-link">Home</div></a></li>
							<li><a href="ExploreHotels.html">Explore Hotels</a></li>
							<li><a href="ContactUs.html">Contact Us</a></li>
						</ul>
					</div>
				</nav> -->
				<!-- End Header -->

				<!-- Begin Header picture -->
				<div class="header-picture">
					<div class="gradient-image">
						<h2><b>FIND A HOTEL YOU'LL LOVE!</b></h2>
						<div class="list-box">
							<div class="form-inline" style="padding-top: 2%;">

								<div class="input-group" style="padding-left: 0;">
									<span class="input-group-addon"><span class="fa fa-map-o"></span></span>
									    <select class="form-control" style="width: 300px;" >
										    <option hidden>City</option>
											<option>City 1</option>
											<option>City 2</option>
											<option>City 3</option>
											<option>City 4</option>
									   	</select>
								</div>

								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-star-empty" style="font-size: 18px;"></span></span>
										<select class="form-control">
											<option hidden>Stars</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
								</div>

								<div class="input-group">
									<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-search"> Search</span></button>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- End Header picture -->
				<br>
				<!-- Begin Container -->
				<div class="container">

					<h4><b>Top Pick of the Month</b></h4>
					<p><b style="color: red;">The Student Hotel The Hague</b>
						<span class="fa fa-star pull-right"></span>
						<span class="fa fa-star pull-right"></span>
						<span class="fa fa-star pull-right"></span>
						</p>
					<br>


					<div class="row">
						<div class="col-md-5" style="margin-right: 8%;">
							<img src="../assets/hotel2.jpg" style="width: 500px; height: auto;">
								</div>
									<div class="col-md-5">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum ligula a purus semper auctor. Nulla turpis dolor, mollis nec odio vitae, sodales consectetur libero.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
								<br>
								<div class="glyphicon-ring pull-left"><span class="fa fa-coffee"></span></div>
								<div class="glyphicon-ring pull-left"><span class="glyphicon glyphicon-cutlery"></span></div>
								<div class="glyphicon-ring pull-left"><span class="fa fa-wifi"></span></div>
								<div class="glyphicon-ring pull-left"><span class="fa fa-book"></span></div>
								<br>
								<br>
								<br>
								<b>Rating</b>
								<p>Guest score 375. <a href="#">View reviews (3)</a></p>
								<br>
								<b>Let's book a room!</b>
								<p>Hotel rooms starting at €79,- per night.</p>
								<button type="button" class="btn btn-danger">Book this hotel <b>&gt;</b></button>
						</div>
					</div>
					<br>
					<br>
					<br>
					<div class="row">
						<div class="col-md-12 text-center">
							<h4><b>We have about 1 hotel waiting to be booked!</b></h4>
							<a href="ExploreHotels.html"><button type="button" class="btn btn-danger">Explore Hotels</button></a>
							
						</div>
					</div>
				</div>
				<!-- End Container -->
			</div>
			<!-- End content-contrainer -->

			<!-- Begin Footer -->
			<div id="footer">
				<div class="container text-left">
	        		<div class="row">

		            	<!--First column-->
		            	<div class="col-md-4">
		                	<h6 class="mb-4 mt-3 font-weight-bold"><a href="Index.html"><i class="fa fa-building-o" style="font-size:14px;"><b> Hotel</b> Booking</i></a></h6>
		                	<ul class="list-unstyled">
		                    	<li>
		                        	Niewmansstraat 123
		                    	</li>
			                    <li>
			                        1234 AB The Hague
			                    </li>
			                    <li>
			                        The Netherlands
			                    </li>
			                    <li>
			                    	<br>
			                        &copy; 2018 Hotel Booking
			                    </li>
			                </ul>
		            	</div>
		           		<!--/.First column-->
					
						<b>
		            	<!--Second column-->
			            <div class="col-md-4">
			                <h5 class="mb-4 mt-3 font-weight-bold"><b>Useful links</b></h5>
			                <ul class="list-unstyled">
			                    <li>
			                        <a href="ExploreHotels.html">Explore hotels</a>
			                    </li>
			                    <li>
			                        <a href="#!">Reviews</a>
			                    </li>
			                    <li>
			                        <a href="#!">A link</a>
			                    </li>
			                    <li>
			                        <a href="#!">Another link</a>
			                    </li>
			                    <li>
			                        <a href="#!">Different link</a>
			                    </li>
			                </ul>
			            </div>
		            	<!--/.Second column-->

			            <!--Third column-->
			            <div class="col-md-4">
			                <h5 class="mb-4 mt-3 font-weight-bold"><b>The Company</b></h5>
			                <ul class="list-unstyled">
			                    <li>
			                        <a href="#!">About</a>
			                    </li>
			                    <li>
			                        <a href="#!">Careers</a>
			                    </li>
			                    <li>
			                        <a href="#!">Press centre</a>
			                    </li>
			                    <li>
			                        <a href="#!">Terms & Conditions</a>
			                    </li>
			                    <li>
			                        <a href="ContactUs.html">Contact us</a>
			                    </li>
			                </ul>
			            </div>
			            <!--/.Third column-->
		        		</b>

		        	</div>
		        </div>
		    </div>
	   		<!-- End Footer -->
  </div>
</template>

<style>
	
*{
  margin: 0;
}

html, body {
  height: 100%;
  background-color: rgb(228, 228, 228);
}

.border-link {
  border-bottom: 3px solid red;
}

#content-container {
  height: auto !important;
  min-height: 100%;
  margin: 0 auto;
}

.gradient-image {
  text-align: center;
  color: white;
  margin-top: -20px;
	padding-top: 10px;
	width: 100%;
	height: 350px;
	background:
        linear-gradient(to left, 
        	rgba(255, 99, 71, 0.80), 
        	rgba(255, 166, 0, 0.50)),
    url(../assets/hotel.jpg);
}

.list-box {
  background-color: white;
  max-width: 50%;
  height: 65px;
  margin: auto;
  margin-top: 50px;
}

.glyphicon-ring {
  height:2em;
  width:2em;
  border-radius:50%;
  background-color: #a79f9f9c;
  text-align: center;
  line-height: 2em;
  margin-right: 2%;
}

.input-group {
  padding-left: 3%;
}


#footer {
  min-height: 18%;
  margin-top: 2%;
  padding-top: 2%;
  background-color: rgba(193, 188, 188, 0.55);
  font-size: 12px;
}
</style>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>
