<template>
	
	<div class="alert-message">
		<span v-text="message"></span>
	</div>

</template>

<script>
	
export default {
	name: 'AlertMessage',
	props: {
		message: {
			type: String,
			required: true,
		}
	},
}
</script>

<style>

	alert-message {
		color : purple;
	}

</style>