<template>
	
<span>{{ hotel.name }}</span>

</template>

<script>
	
export default {
	name: 'HotelItem',
	props: {
		hotel: {
		type: Object,
		required: true,
		},	
	},
	data() {
		return{}
	},
};
</script>
