<!-- <template>
	
	<div>
		<h1>Information</h1>
		<button @click="send()">Next</button>
	
	</div>

</template>

<script>
	
export default {
	name: 'InformationStep',
	props: {
		data: {
			type: Object,
			required: true,
		}
	},
	data() {
		return {
			formData: {
				firstName: '',
			}
		}
	},
	methods: {
		send() {
			this.data.firstName = 
		}
	}
</script> -->